
@{
    ViewData["Title"] = "Index";
}

<main class="page cv-page">
    <section class="cv-block block-intro border-bottom">
        <div class="container">
            <div class="avatar">
                <img class="img-fluid rounded-circle" src="/img/avatar.jpg">
            </div>
            <p>. سلام! من <strong>جان اسمیت  </strong>برنامه نویس کامپیوتر هستم و علاقه زیادی به <a href="https://www.setrokate.com/">طراحی سایت</a> دارم. از آنجا که بیشترین زمینه کاری من front-end یک سایت است، تا کنون <a href="https://www.setrokate.com/store">قالب سایت</a>های زیادی را توسعه داده‌ام. برای مشاهده نمونه کارهای من می‌تواید به این لینک مراجعه کنید.</p>
            <a href="#" class="btn btn-outline-primary">استخدام من</a>
        </div>
    </section>
    <section class="cv-block info">
        <div class="container">
            <div class="work-experience group" id="work-experience">
                <h2 class="text-center">تجربه های کاری من</h2>
                <div class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>توسعه‌گر وب</h3>
                            <h4 class="organization text-white">ستروکیت</h4>
                        </div>
                        <div class="col-md-6">
                            <time class="period">۱۳۹۴/۱۰-۱۳۹۳/۱۰</time>
                        </div>
                    </div>
                    <p class="text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>توسعه‌گر Front-End</h3>
                            <h4 class="organization">ستروکیت</h4>
                        </div>
                        <div class="col-md-6">
                            <time class="period">۱۳۹۵/۱۲-۱۳۹۴/۱۰</time>
                        </div>
                    </div>
                    <p class="text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>توسعه‌گر وب</h3>
                            <h4 class="organization">ستروکیت</h4>
                        </div>
                        <div class="col-md-6">
                            <time class="period">۱۳۹۵/۰۱-تاکنون</time>
                        </div>
                    </div>
                    <p class="text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                </div>
            </div>
            <div class="education group" id="education">
                <h2 class="text-center">تحصیلات</h2>
                <div class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>رشته دبیرستانی</h3>
                            <h4 class="organization">نام مدرسه</h4>
                        </div>
                        <div class="col-md-6">
                            <time class="period">۱۳۹۰/۰۴-۱۳۸۶/۰۷</time>
                        </div>
                    </div>
                    <p class="text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>رشته دانشگاهی</h3>
                            <h4 class="organization">نام دانشگاه</h4>
                        </div>
                        <div class="col-md-6">
                            <time class="period">۱۳۹۴/۰۴-۱۳۹۰/۰۷</time>
                        </div>
                    </div>
                    <p class="text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                </div>
            </div>
            <div class="group" id="skills">
                <div class="row">
                    <div class="col-md-6">
                        <div class="skills info-card">
                            <h2> مهارت‌ها</h2>
                            <h3>HTML</h3>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                     aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                </div>
                            </div>
                            <h3>PHP</h3>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                     aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                </div>
                            </div>
                            <h3>JavaScript</h3>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                     aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact-info info-card">
                            <h2>اطلاعات تماس</h2>
                            <div class="row">
                                <div class="col-1">
                                    <i class="ion-android-calendar icon"></i>
                                </div>
                                <div class="col-9">
                                    <span>۱۰/۱۰/۱۳۷۰</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    <i class="ion-person icon"></i>
                                </div>
                                <div class="col-9">
                                    <span>جان اسمیت</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    <i class="ion-ios-telephone icon"></i>
                                </div>
                                <div class="col-9">
                                    <span>+۹۸-۲۱۸۸۵۰۹۸۴۱</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    <i class="ion-at icon"></i>
                                </div>
                                <div class="col-9">
                                    <span>info@setrokate.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hobbies group" id="hobbies">
                <h2 class="text-center">سرگرمی‌ها</h2>
                <p class="text-center text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
            </div>
        </div>
    </section>
    <footer class="page-footer">
        <div class="container">
            <div class="social-icons">
                <a href="#"><i class="ion-social-facebook" title="Facebook"></i></a>
                <a href="#"><i class="ion-social-instagram-outline" title="Instagram"></i></a>
                <a href="#"><i class="ion-social-twitter" title="Twitter"></i></a>
            </div>
        </div>
    </footer>
</main>

